/* ---------------------------------------------------
    Informasi Petunjuk
----------------------------------------------------- */
.latihan2{
  max-width: 960px;
  margin: auto;
}

body {
  background-color: white;
  font-family: sans-serif;
}

h1, h3, p {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

/* ---------------------------------------------------
    KOTAK KONTEN
----------------------------------------------------- */
.draggable-list2 {
  padding: 5px;
}

.draggable-list2 li {
  list-style: none;
  padding: 20px;
  margin: 20px;
  background-color: #d1e7dd;
  border: none;
  color: black;
  letter-spacing: 0.06em;
  border-radius: 0.8em;
  cursor: grab;
}

.over {
  background-color: #90a4ae;
}

/* ---------------------------------------------------
    Tabel hasil latihan 2
----------------------------------------------------- */
table {
  max-width:640px;
  margin: auto;
  margin-bottom: 20px;
  /* border: 1px solid #b0bec5; */
}

th, td {
  padding: 10px 10px;
}

td {
  border: 1px solid #90a4ae;
}

tr:nth-child(even) {
  background-color: #41bec6;
}

/* ---------------------------------------------------
    button main lagi
----------------------------------------------------- */
button {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: #fff;
}

button:hover {
  background-color: #516a75;
}

#endMessage {
  display: none;
  margin-top: -700px;

}