/* ---------------------------------------------------
    halaman awal / index
----------------------------------------------------- */
.jumbotron {
    background-color: #24223b;
    padding: 6rem;
}

#projects {
    padding-top: 2rem;
}

section {
 padding-top: 5rem;
}
/* ---------------------------------------------------
    halaman di dalam div judul grid item terdapat di latihan
----------------------------------------------------- */
.grid-item {
	padding: 30px;
	border-radius: 20px;
	background: #d1e7dd;
	color: black;
	width: 1000px;
	position: relative;
	margin-left: 115px;
}
