@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", "Rubik" sans-serif;
  box-sizing: border-box;
  font-size: large;
}

body {
  font-family: "rubik", sans-serif;
}
/* ---------------------------------------------------
    halaman awal / index
----------------------------------------------------- */
.jumbotron {
  background-color: #24223b;
  padding: 6rem;
}

#projects {
  padding-top: 2rem;
}

section {
  padding-top: 5rem;
}
/* ---------------------------------------------------
    halaman di dalam div judul grid item terdapat di latihan
----------------------------------------------------- */
.grid-item {
  padding: 30px;
  border-radius: 20px;
  background: #d1e7dd;
  color: black;
  width: 1000px;
  position: relative;
  margin-left: 95px;
}
.card-header {
  width: 80%;
  color: white;
  padding: 5px;
  text-align: center;
}
.card {
  color: black;
  background-color: white;
  padding: 5px;
}
